body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;
  min-width: 1280px;
  min-height: 2762px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-navigation {
  line-height: 26px;
}

.main-navigation ul,
fieldset ul,
.sort-types,
.catalog ul,
.adwise-list {
  list-style: none;
}

.main-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -14px;
}

.container-main-image {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: -1;
  margin-bottom: 50px;
}

.main-header-logo{
  order: 1;
}
a.main-header-logo{
  line-height: 0;
  font-size: 0;
}

.right {
  order: 2;
  padding: 0;
  margin: 0;
  display: flex;
  width: 531px;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 20px;
}

.left {
  padding: 0;
  margin: 0;
  display: flex;
  width: 531px;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 20px;
}

.noactive {
  color: #000;
  font-weight: 700;
}

.noactive:hover {
  color: #81b3d2;
}

.noactive:active {
  color: #000;
  opacity: 0.3;
}

.noactive:focus, .active {
  color: #766357;
  font-weight: 700
}

p.features-title-intro1{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  width: 440px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 30px;
}

p.features-title-intro2 {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  width: 600px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 50px;
}

.features-list{
  list-style: none;
  line-height: 21px;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  justify-content: center;
}

.feature-item-blueback.first {
  display: flex;
  flex-direction: row;
  height: 256px;
  min-width: 1200px;
  align-items: center;
  order: -2;
}

.feature-item-blueback.first h3 {
  min-width: 140px;
}

.feature-item-blueback.second {
  display: flex;
  flex-direction: row-reverse;
  height: 256px;
  min-width: 1200px;
  align-items: center;
}

.feature-item-blueback.first,
.feature-item-blueback.second
{
  background-color: rgb(129, 179, 210);
  color: #fff;
}

.features-list li.feature-item {
  background-color: rgb(238, 238, 238);
  margin: 0;
  padding: 0;
}

.adwise {
  background-color: #fff;
  order: -1;
}

.adwise-list {
  padding: 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

li.adwise-item {
  background-color: #fff;
}

.img-food {
  display: block;
  background-image: url("../img/icon-3.svg");
  width: 74px;
  height: 70px;
  margin: auto;
}

.img-house {
  display: block;
  background-image: url("../img/icon-1.svg");
  width: 75px;
  height: 72px;
  margin: auto;
}

.img-present {
  display: block;
  background-image: url("../img/icon-2.svg");
  width: 64px;
  height: 76px;
  margin: auto;
}

.features-list h3{
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.search-hotels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map {
  margin-top: -400px;
  position: relative;
  z-index: -1;
}

.search-form-title span {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-form-title a {
  background-color: rgb(118, 99, 87);
  color: #fff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.search-form-title a:hover {
  background-color: rgb(96, 78, 67);
}

.search-form-title a:active {
  background-color: rgb(80, 62, 51);
  color: rgba(255, 255, 255, 0.3);
}

.search-form {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  background-color: white;
  width: 570px;
  min-height: 395px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.button-index {
  font: inherit;
  background-color: rgb(129, 179, 210);
  color: #fff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.button-index:hover {
  background-color: rgb(102, 158, 192);
}

.button-index:active {
  background-color: rgb(84, 150, 189);
  color: rgba(255, 255, 255, 0.3);
}

.search-item input {
  background-color: rgb(242, 242, 242);
  border-width: 2px;
  border-color: rgb(242, 242, 242);
  border-style: solid;
}

.search-item input:hover {
  background-color: rgb(235, 235, 235);
  border-width: 2px;
  border-color: rgb(235, 235, 235);
  border-style: solid;
}

.search-item input:focus {
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-color: rgb(229, 220, 229);
  border-style: solid;
}

.main-footer {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  align-items: center;
  min-height: 123px;
  margin: auto;
}

a.main-footer-logo {
  display: block;
  background: url("../img/logo-htmlacademy.svg") no-repeat;
  width: 115px;
  height: 41px;
}

a.main-footer-logo:hover {
  display: block;
  background: url("../img/logo-htmlacademy-hover.svg") no-repeat;
  width: 115px;
  height: 41px;
}

a.main-footer-logo:active {
  display: block;
  background: url("../img/logo-htmlacademy-active.svg") no-repeat;
  width: 115px;
  height: 40px;
}

.main-footer span {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

fieldset{
border: none;
}

.filter-search {
  display: flex;
  min-height: 220px;
  justify-content: space-around;
  align-items: center;
}

fieldset ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.filter {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  background-image: url("../img/filter-background.jpg");
  width: 1200px;
  height: 220px;
  margin: auto;
}

.filter li {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
}

.filter .button-index {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
}

.filter .button-index:hover {
  background-color: rgb(255, 255, 255);
  color: #000;
}

.sort {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 1200px;
  margin: auto;
}

.sort-types {
  display: flex;
}

.sort-count {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort-title {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sort-type {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px #81b3d2 dotted;
}

.sort-type:focus, .sort-type-active {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #81b3d2;
  border: none;
}

.sort-type:hover {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #81b3d2;
  border-bottom: 1px #81b3d2 dotted;
}

.sort-type:active {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
  border: none;
}

.catalog-item {
  display: flex;
}

.item-wrap {
  display: flex;
  flex-direction: column;
}

.rate-wrap {
  display: flex;
  flex-direction: column-reverse;
}

.catalog-item-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.catalog {
  font-size: 14px;
  line-height: 21px;
}

.catalog>ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin:auto;
  width: 1200px;
  padding: 0;
}

.catalog-item-name:hover {
  color: #81b3d2;
}

.catalog-item-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-about {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #fff;
  background-color: #81b3d2;
}

.catalog-item-about:hover {
  background-color: #669ec0;
}

.catalog-item-about:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-item-rent {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #fff;
  background-color: #766357;
}

.catalog-item-rent:hover {
  background-color: #604e43;
}

.catalog-item-rent:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-item-rate {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #666666;
}
